<% this.title = '远程比赛' %>
<% let panguMode = 'disabled' %>

<% include header %>

<style>
  input[type=text] {
    width: 100%;
    vertical-align: top;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin: 0;
    outline: 0;
    -webkit-appearance: none;
    tap-highlight-color: rgba(255,255,255,0);
    line-height: 1.21428571em;
    padding: .67857143em 1em;
    font-size: 1em;
    background: #fff;
    color: rgba(0,0,0,.87);
    border: 1px solid rgba(34,36,38,.15);
    border-radius: .28571429rem;
    -webkit-box-shadow: 0 0 0 0 transparent inset;
    box-shadow: 0 0 0 0 transparent inset;
    -webkit-transition: color .1s ease,border-color .1s ease;
    transition: color .1s ease,border-color .1s ease;
}

</style>

<div class="padding">
  <% if (user && user.is_admin) { %>
  <div class="ui styled fluid accordion">
    <div class="title">
      <i class="dropdown icon"></i>
      新建比赛
    </div>
    <div class="content">
      <form action="<%=syzoj.utils.makeUrl(['rmt_contest', 0, 'edit']) %>"
        method="post">
        <div class="ui form">
          <div class="fields">
            <div class="field">
              <label>比赛名称</label>
              <input type="text" name="title">
            </div>
            <div class="field">
              <label>比赛提供者</label>
              <div class="ui selection dropdown" id="holder">
                <input type="hidden" name="holder_id" value="1">
                <i class="dropdown icon"></i>
                <div class="default text">. . .</div>
                <div class="menu">
                  <% for (let holder of admins) { %>
                    <div class="item" data-value="<%= holder.id %>">
                      <img class="ui mini avatar image" src="<%= syzoj.utils.gravatar(holder.email, 1000) %>">
                      <%= holder.username %>
                    </div>
                    <% } %>
                </div>
              </div>
            </div>
            <div class="field">
              <label>开始时间</label>
              <input type="text" name="start_time" value="<%= syzoj.utils.formatDate(syzoj.utils.getCurrentDate()) %>">
            </div>
            <div class="field">
              <label>结束时间</label>
              <input type="text" name="end_time" value="<%= syzoj.utils.formatDate(syzoj.utils.getCurrentDate()) %>">
            </div>
            <div class="field">
              <label>比赛链接</label>
              <input type="text" name="link">
            </div>
            <div class="field">
              <label>密码（可选）</label>
              <input type="text" name="passwd">
            </div>
          </div>
          <div style="text-align: right; "><button id="submit_button" type="submit" class="ui labeled icon blue button"><i
                class="ui edit icon"></i>提交</button></div>
        </div>
      </form>
    </div>
  </div>
  <% } %>
  <% if (contests.length) { %>
    <div class="ui attached segment" style="margin-top: 1rem;">
      <table id="rmtc" class="ui very basic center aligned table unstackable">
        <thead>
          <tr>
            <th>比赛名称</th>
            <th>比赛提供者</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>链接</th>
            <th>密码</th><% if (user && user.is_admin) { %>
            <th>操作</th><% } %>
          </tr>
        </thead>
        <tbody>
          <% for (let contest of contests) { %>
          <tr>
            <td id="title">
              <%= contest.title %>
              <% if (contest.isEnded()) { %>
                <span class="ui header"><div class="ui grey mini label">已结束</div></span>
              <% } else if (contest.isRunning()) { %>
                <span class="ui header"><div class="ui green mini label">进行中</div></span>
              <% } else { %>
                <span class="ui header"><div class="ui red mini label">未开始</div></span>
              <% } %>
            </td>
            <td><a href="<%= syzoj.utils.makeUrl(['user', contest.holder_id]) %>"><%- contest.holder.username %></a></td>
            <td><%= syzoj.utils.formatDate(contest.start_time) %></td>
            <td><%= syzoj.utils.formatDate(contest.end_time) %></td>
            <td><a href="<%- contest.link %>">点击跳转</a></td>
            <td><%- contest.passwd %></td>
            <% if (user && user.is_admin) { %>
            <div class="ui basic modal" id="modal-edit<%= contest.id %>">
              <div class="ui icon header">
                <i class="edit icon"></i>
                编辑第 <%= contest.id %> 场远程比赛
              </div>
              <div class="content">
                <form action="<%=syzoj.utils.makeUrl(['rmt_contest', contest.id, 'edit']) %>" method="post" id="form<%= contest.id %>">
                  <div class="ui form">
                    <div class="fields">
                      <div class="field">
                        <label>比赛名称</label>
                        <input type="text" name="title" value="<%= contest.title %>">
                      </div>
                      <div class="field">
                        <label>比赛提供者</label>
                        <div class="ui selection dropdown" id="holder">
                          <input type="hidden" name="holder_id" value="<%= contest.holder_id %>">
                          <i class="dropdown icon"></i>
                          <div class="menu">
                            <% for (let holder of admins) { %>
                              <div class="item" data-value="<%= holder.id %>">
                                <img class="ui mini avatar image" src="<%= syzoj.utils.gravatar(holder.email, 1000) %>">
                                <%= holder.username %>
                              </div>
                              <% } %>
                          </div>
                        </div>
                      </div>
                      <div class="field">
                        <label>开始时间</label>
                        <input type="text" name="start_time"
                          value="<%= syzoj.utils.formatDate(contest.start_time || syzoj.utils.getCurrentDate()) %>">
                      </div>
                      <div class="field">
                        <label>结束时间</label>
                        <input type="text" name="end_time"
                          value="<%= syzoj.utils.formatDate(contest.end_time || syzoj.utils.getCurrentDate()) %>">
                      </div>
                      <div class="field">
                        <label>比赛链接</label>
                        <input type="text" name="link" value="<%= contest.link %>">
                      </div>
                      <div class="field">
                        <label>密码（可选）</label>
                        <input type="text" name="passwd" value="<%= contest.passwd %>">
                      </div>
                    </div>
                    </div>
                  </form>
                </div>
              <div class="actions">
                <div class="ui red basic cancel inverted button">
                  <i class="logout icon"></i>
                  取消
                </div>
                <div class="ui green ok inverted button">
                  <i class="checkmark icon" onclick="$('#form<%= contest.id %>').submit()"></i>
                  确定
                </div>
              </div>
            </div>
            <td id="manage">
              <div class="ui buttons"><button class="ui circular mini icon button" onclick="$('#modal-edit<%= contest.id %>').modal('show')"><i class="ui edit icon"></i></button></div>
            </td>
            
            
            <% } %>
          </tr>
          <% } %>
        </tbody>
      </table>
      </div>
    <% } else { %>
    <div class="ui placeholder segment">
      <div class="ui icon header">
        <i class="calendar icon" style="margin-bottom: 20px; "></i>
        暂无远程比赛
      </div>
    </div>
    <% } %>
</div>

<script>
  $('.message .close')
    .on('click', function() {
      $(this)
        .closest('.message')
        .transition('fade')
      ;
    })
  ;
</script>
<script>
  $(function () {
    $('.ui.dropdown:not(.simple)').dropdown();
    $('.ui.accordion').accordion();
  });
</script>

<% include footer %>
